<launch>
   <!--  smooths inputs from cmd_vel_mux/input/teleop_raw to cmd_vel_mux/input/teleop -->
   <include file="$(find aimibot)/launch/includes/velocity_smoother.launch.xml"/>

   <node pkg="aimibot" type="aimibot_teleop_joy" name="aimibot_teleop_joystick">
    <param name="scale_angular" value="1.5"/>
    <param name="scale_linear" value="0.5"/>
    <remap from="aimibot_teleop_joystick/cmd_vel" to="teleop_velocity_smoother/raw_cmd_vel"/>
   </node>

  <node pkg="joy" type="joy_node" name="joystick"/>
  <node pkg="aimibot" type="aimibot" name="aimibot" >
    <param name="serial_port" value="/dev/ttyUSB0"/>
    <remap from="aimibot/commands/velocity" to="teleop_velocity_smoother/raw_cmd_vel"/>
  </node> 
</launch> 
